<div class="container card">
  <div class="card-body text-center">
    <h4>More Information</h4>
      <%= render partial: 'bio' %>
    <h6 class="card-title">Check Off Your Speciality:</h6>
      <%= render partial: 'speciality' %>
    <h6 class="card-title">Your availablilty:</h6>
      <%= render partial: 'weekdays' %>
  </div>
</div>
